@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

    font-family: var(--mainFont);
}

:root {
    /* Colors */
    --primary: #171717;
    --secondary: #ededed;
    --todoBackground: #b9b9b9;

    /* Measures */
    --mainMeasure: 1em;
    --secMainMeasure: 3em;
    --secMeasure: 2em;
    --rdMeasure: 0.5em;
    --thMeasure: 0.2em;
    --diffMeasure: 0.01em;
    --fontSizeTitle: 1.3em;
    --fontSizeParagraph: 1.1em;
    --firstSizeWidthHeight: 7em;
    --secondSizeWidthHeight: 8em;

    /* Fonts */
    --mainFont: "Roboto", serif;
}

body {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-grid {
    border: 3px solid firebrick;
    row-gap: 10px;
}

main .container-grid {
    /* max-width: 70vw; */
    display: grid;
    grid-template-columns: [fc] 20em [sc] 20em [tc] 20em;
    grid-template-rows: [fr] 20% [sr] 15em [tr] 25%;
}

.grid-imgs {
    width: 100%;
}

.grid-imgs:nth-child(5) {
    border: 3px solid red;
    grid-column-start: sc;
    grid-column-end: tc;
    grid-row-start: 2;
    grid-row-end: 4; 
}

.grid-imgs:nth-child(4) {
    border: 3px solid green;
    grid-column-start: fc;
    grid-column-end: sc;

    grid-row-start: 3;
    grid-row-end: 4;
}

.grid-imgs:nth-child(6) {
    border: 3px solid blue;
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;
}