*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

:root {
    /* Colors */
    --primary: #171717;
    --secondary: #ededed;
    --background: #b9b9b9;

    /* Measures */
    --mainMeasure: 1em;
    --secMainMeasure: 3em;
    --secMeasure: 2em;
    --rdMeasure: 0.5em;
    --thMeasure: 0.2em;
    --diffMeasure: 0.01em;
}

body {
    padding: 1em;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

/* @media (max-width: 768px) {
    body {
        justify-content: initial;
        align-items: initial;
        display: flex;
        flex-direction: column;
        border: 3px solid red;
    }
} */

main .container-grid {
    display: grid;
    grid-template-columns: [fc] 20em [sc] 20em [tc] 20em;
    grid-template-rows: [fr] 20% [sr] 25% [tr] 25%;
}

.grid-imgs {
    padding: var(--thMeasure);
    width: 100%;
}

.grid-imgs:nth-child(5) {
    grid-column-start: sc;
    grid-column-end: tc;
    grid-row-start: 2;
    grid-row-end: 4; 
}

.grid-imgs:nth-child(4) {
    grid-column-start: fc;
    grid-column-end: sc;

    grid-row-start: 3;
    grid-row-end: 4;
}

.grid-imgs:nth-child(6) {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;
}

.grid-imgs:nth-child(2),
.grid-imgs:nth-child(4), .grid-imgs:nth-child(6), .grid-imgs:nth-child(5){
    /* margin-top: var(--secMainMeasure); */
    height: 100%;
    object-fit: cover;
}

.grid-imgs:nth-child(1), .grid-imgs:nth-child(3) {
    margin-bottom: 6.8em;
    height: min-content;
    object-fit: cover;
}